extends ../layout

block content
	h1 Create Account
	#error-messages
	.form-group
		label(for="username") Username
		input#username(type="text", placeholder="Username")
	.form-group
		label(for="password") Password
		input#password(type="password", placeholder="Password")
	.form-group
		label(for="confirm-password") Confirm Password
		input#confirm-password(type="confirm-password", placeholder="Confirm Password")
	button#submit(type="button") Create Account

	script.
		var submit = document.getElementById('submit');
		submit.onclick = function() {
			var username = document.getElementById('username').value,
				password = document.getElementById('password').value,
				confirmPassword = document.getElementById('confirm-password').value,
				params = "username=" + username + "&password=" + password;
			if(password !== confirmPassword){
				console.log("Passwords do no match!"); // handle mismatched passwords
			} else if(!username || !password || !confirmPassword) {
				console.log("Please fill out all the fields");
			} else {
				var r = new XMLHttpRequest();

				r.open('POST', '/user/new', true);
				r.onreadystatechange = function() {
					if(r.readyState === XMLHttpRequest.DONE && r.status === 200) {
						var response = JSON.parse(r.responseText);
						if(response.success)
							window.location.pathname = "/dashboard";
						else
							console.log("error creating user"); // handle alert...
					}
				}

				r.setRequestHeader("Content-Type", "application/x-www-form-urlencoded;charset=UTF-8");
				r.send(params);
			}
		}